

<div class="container">
  <button class="btn mt-4" routerLink="">
    <i class="fa-solid fa-arrow-left"></i>
  </button>

  <h3 class="mt-5">Appuntamenti:</h3>
  <div class="w-75 m-auto mt-5">

    <ul class="list-group">
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <div>
          Sbiancamento anale
        </div>
        <div>
          <button class="btn me-3">Modifica</button>
          <button class="btn">Completa</button>
        </div>
      </li>
    </ul>
</div>
<div>

</div>
