<div class="card1">
  <h3 class="text-center text-light mt-3">Utente</h3>
  <div class="d-flex align-items-center justify-content-evenly mt-5">
    <div class="text-center">
      <div>
        <img src="../../assets/paziente.png" alt="" class="foto">
      </div>
      <div class="pt-3 fs-5">
        Paziente
      </div>
      <div>
        <button class="btn btn-info mt-3 text-light fs-4" routerLink="paziente"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="text-center">
      <div>
        <img src="../../assets/medico.png" alt="" class="foto">
      </div>
      <div class="pt-3 fs-5">
        Medico
      </div>
      <div>
        <button class="btn btn-info mt-3 text-light fs-4" routerLink="medico"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
    <div class="text-center">
      <div>
        <img src="../../assets/dirigenza.png" alt="" class="foto">
      </div>
      <div class="pt-3 fs-5">
        Dririgenza
      </div>
      <div>
        <button class="btn btn-info mt-3 text-light fs-4" routerLink="dirigente"><i class="fa-solid fa-arrow-right"></i></button>
      </div>
    </div>
  </div>
</div>
